body {
  margin: 0;
  padding: 15px;
  background-color: #e9e9e9;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 768px;
  margin: auto;
  padding: 20px;
  background-color: white;
}

.question{
  display: none;
}

.active{
  display: block;
}

.actions{
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.hidden{
  display: none;
}